<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>WHO WANTS SOME BURGERS?!?<h1>
    </div>
  </div>

<br>
<br>

<div class="row">
  <div class="col-md-12">
    <img src ="https://media.giphy.com/media/xT9KVzVj01qfRPiJr2/giphy.gif">
  </div>
</div>

<br>
<br>


<div class="row">
  <div class="col-md-6">
    <h2>Ready to Eat</h2>
    <br>
    <br>
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6">
    <h2>All Gone!</h2>
    <br>
    <br>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-12">
    <h2>Add a Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>


</div>
